:root {
  font: 16px / 1;
}

html {
  height: 100%;
  font-family:"Graduate", monospace, serif;
}

body {
  margin: 0;
  min-height: 100%;
}

h1 {
  text-align: center;
}

.score-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 1rem; 
  text-align: center;
  font-size: 4.5vh;
}

.score-area p {
  font-size: calc(3vh + 2vw);
}

.periodSection{
  display:flex;
  flex-flow: column wrap;
  align-items: center;
  
  font-size: 4.5vh;
}

.update-score {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.update-score .team-name {
  display: flex;
  flex-direction: row;
}

.update-score section {
  margin: 1rem;
}

/* ----Tatyanna's CSS - Start */
body h1{
  color: black;
  text-shadow: rgba(67, 67, 65, 0.789) 1px 2px;
  letter-spacing: 2px;
  background-color: rgb(240, 240, 238);
  padding: 1em;
  margin-top: 0;
}

header{
  display: flex;
  justify-content: center;
}

header h2{
  margin: 0;
  font-size: 8.5vh;
  border-bottom: grey 1.5px solid;
  border-top: grey 1.5px solid;
  padding: 1rem;
  background-color: rgb(34, 34, 34);
  color: whitesmoke;
  display: inline;
  box-shadow: rgba(44, 44, 44, 0.789) 1px 6px;
}

.score-area h2{
  font-size: calc(3.3vh + 3.5vw);
  text-shadow: rgba(37, 37, 37, 0.789) 1px 2px;
  margin-bottom: .5rem;
}

.score-area p, #period{
  background-color: whitesmoke;
  border: black 2px solid;
  padding: 1rem;
  margin-top: 0.5rem;
}

.update-score{
  display: flex;
  flex-flow: wrap;
}

.team1>section input, .team2>section input{
  margin-left: .5rem;
}

.periodSection p{
  text-shadow: rgba(37, 37, 37, 0.789) 1px 2px;
  margin-top: 0%;
}

.resetButton{
  text-align: center;
  margin: 0;
  visibility: hidden;
}

.resetButton button{
  padding: 1rem;
  font-size: 3vh;
  background-color: red;
  border: 0;
  color: white;
  letter-spacing: 3.5px;
  font-family: 'Courier New', Courier, monospace;
  margin: 1rem 0;
}

#gameTimeButton{
  padding: .7rem;
}

section #gameTimeButton{
  margin: 0 auto;
  display: block;
}

#gameTimeButton{
  background-color: black;
  color: white;
  border: 0;
  padding: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3vw;  
}

@keyframes winningTeam {
  from {color: red;}
  to {color: whitesmoke;}
}
.winningTeam{
  animation-name: winningTeam;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  
}


@media(max-width: 600px){
  .score-area{
    display: flex;
    align-items: center;
  }

  .score-area p{
    display: flex;
    justify-content: center;
  }

  .team1 section:nth-of-type(2n), .team2 section:nth-of-type(2n){
    display: flex;
    text-align: center;
    margin-right: 0;
  }
  
  .team1 section:nth-of-type(2n) button, .team2 section:nth-of-type(2n) button{
    margin: .5rem;
    padding: .5vh;
  }
}